Source: euler-proof-engine
Section: web
Priority: optional
Maintainer: Urs Holzer <urs@andonyar.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://eulersharp.sourceforge.net/
Vcs-Git: https://github.com/uholzer/euler-proof-engine-debian.git
Vcs-Browser: https://github.com/uholzer/euler-proof-engine-debian

Package: euler-proof-engine
Architecture: all
Depends: ${misc:Depends}, swi-prolog (>= 6)
Description: Euler yet antoher Proof Engine for N3
 EYE is a reasoning engine supporting the RGB Semantic Web layers.
 It is a semibackward reasoner enhanced with Euler path detection.
 Via N3 it is interoperable with Cwm. 
